#como-funciona {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .como-funciona-imagens-container {
    display: flex;
    flex-wrap: wrap; /* permite quebrar linha em telas menores */
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
  }
  
  .como-funciona-container {
    flex: 1 1 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #como-funciona-quadro {
    max-width: 100%;
    height: auto;
  }


