
#gallery-video { 
  width: 90%; /* Ajuste a largura total para 90% do contêiner pai */
  max-width: 1280px; /* Limite a largura máxima para manter dentro da margem */
  display: flex;
  justify-content: space-between; /* Garante espaçamento uniforme */
  gap: 24px; /* Espaço entre os quadrados */
  margin: 2px auto 0; /* Centraliza o contêiner horizontalmente */
  color: #e6dcdc;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza o vídeo no quadrado */
  border-radius: 20px;
  gap: 18px;
  width: 30%; /* Ajusta o tamanho dos quadrados */
  height: 300px; /* Define uma altura fixa para os quadrados */
  background-color: #fbdd99;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden; /* Garante que o vídeo não ultrapasse os limites do quadrado */
}

.video video {
  width: 100%; /* Faz o vídeo ocupar a largura do quadrado */
  height: 100%; /* Faz o vídeo ocupar a altura do quadrado */
  object-fit: cover; /* Ajusta o vídeo para caber dentro do quadrado sem distorcer */
  border-radius: 12px; /* Adiciona bordas arredondadas ao vídeo */
}
.video img {
  width: 100%; /* Faz o vídeo ocupar a largura do quadrado */
  height: 100%; /* Faz o vídeo ocupar a altura do quadrado */
  object-fit: cover; /* Ajusta o vídeo para caber dentro do quadrado sem distorcer */
  border-radius: 12px; /* Adiciona bordas arredondadas ao vídeo */
 
}

@media screen and (max-width: 1170px) {
  #gallery-video {
      display: flex; /* Certifica-se de que o Flexbox está ativo */
      flex-wrap: wrap; /* Permite que os elementos sejam reorganizados em várias linhas */
      justify-content: center; /* Centraliza os elementos no contêiner */
      gap: 12px; /* Adiciona um espaçamento entre os elementos */
  }
  .video {
      width: calc(50% - 12px); /* Define a largura de cada elemento */
      box-sizing: border-box; /* Garante que padding e borda não afetem a largura */
  }
  .video img,
  .video video {
      width: 100%; /* Garante que o conteúdo interno se ajuste ao contêiner */
      height: auto; /* Mantém a proporção do conteúdo */
  }
}




