
#sobre-loja {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: start; /* Alinha os containers internos no início (esquerda) */
    gap: 48px;
}

.sobre-loja-container {
    display: flex;
    flex-direction: column; /* Coloca a imagem e o botão em coluna */
    align-items: flex-start; /* Alinha os itens à esquerda dentro do container */
}

#sobre-loja-uiclap {
    width: 500px;
    height: auto;
    margin-bottom: 20px; /* Adiciona espaço entre a imagem e o botão */
}

#sobre-loja .section-subtitle {
    font-size: 3rem;
}

#sobre-loja-content {
    width: 50%;
}

#feedbacks-loja {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback-loja-content p {
    display: flex;
    justify-content: space-between;
}

#sobre-loja a.bt-uiclap {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    transition: font-size 0.3s ease, font-weight 0.3s ease;
}

#sobre-loja a.bt-uiclap:hover {
    font-size: 40px;
    font-weight: bold;
}

@media screen and (max-width: 1020px) {
    #sobre-loja {
        width: 100%;
        display: flex;
        flex-direction: column; /* Mantém a organização em coluna em telas menores */
        align-items: center;
        text-align: center;
        gap: 20px; /* Ajusta o gap para telas menores */
    }

    .sobre-loja-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza a imagem e o botão em telas menores */
    }

    #sobre-loja img {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }

    #sobre-loja-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sobre-loja a.bt-uiclap {
        font-size: 15px;
        margin-top: 10px;
    }

    #sobre-loja a.bt-uiclap:hover {
        font-size: 20px;
        font-weight: bold;
    }
}



    